* {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}
header {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
h2 {
    font-weight: 300;
    font-size: 32px;
    color: white;
}
a p {
    color: aquamarine;
}
p {
    font-size: 21px;
    color: gray;
}
footer {
    text-align: right;
    color: grey;
}